<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>	
	<!-- Alias 설정 -->
	<typeAliases>
		<typeAlias alias="pur" type="com.mycompany.domain.PurposalDTO"/>
		<typeAlias alias="samp" type="com.mycompany.domain.SampleDTO"/>
		<typeAlias alias="page" type="com.mycompany.domain.PageDTO"/>
	</typeAliases>
		
	<!-- sql Mapper  설정 -->
	<mappers>
		<mapper resource="mappers/purposal-mapping.xml"/>
		<mapper resource="mappers/sample-mapping.xml"/>
	</mappers>
</configuration>